.cell {
    position: relative;
    float: left;
    width: 230px;
    height: 230px;
    padding-left: 20px;
    cursor: pointer;
    font-size: 10rem;
    font-weight: 600;
}

@keyframes appear {
    0%   { transform: scale(.3); }
    100% { transform: scale(1); }
}

.cell .animate {
    will-change: transform;
    transform: translate3d(0,0,0);
    animation: appear .2s cubic-bezier(.5,1.8,.1,1.1);
}