#matrix {
    margin-left: 50px;
}

.row > .cell:first-of-type {
    border-left: none;
}

.row > .cell:last-of-type {
    border-right: none;
}

.row:nth-child(1) .cell:nth-of-type(1),
.row:nth-child(1) .cell:nth-child(2),
.row:nth-child(1) .cell:nth-child(3) {
    border-top: none;
}

.row:nth-child(3) .cell:nth-of-type(1),
.row:nth-child(3) .cell:nth-child(2),
.row:nth-child(3) .cell:nth-child(3) {
    border-bottom: none;
}

@keyframes flash {
    0% { opacity: 1; }
    50% { opacity: .1; }
    100% { opacity: 1; }
}

.winnerStyle {
    animation: flash linear .5s infinite;
}