.helpSection h1, .helpSection h2 {
    text-align: center;
}

.helpSection {
    display: flex;
    justify-content: center;
    border: 2px solid black;
    border-radius: 2%;
    height: 740px;
    padding: 5px 20px;
    margin: 0.5% 25%;
    animation: fadeIn .7s;
}

.helpSection ul li {
    margin: 10px;
    list-style-type: square;
}