.userList {
    width: 40%;
    text-align: left;
}

.userList li {
    margin: 5% 0 3% 35%;
    font-size: 18px;
    list-style-type: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
}

.userList li:hover {
    font-weight: 600;
}

.statistics {
    text-align: center;
}