.details {
    display: flex;
    margin: 4% 25%;
}
.avatar {
    width: 300px;
    height: 300px;
}

.userName {
    text-align: center;
    font-size: 30px;
}

.listDetails {
    margin-left: 20%;
}

.listDetails li {
    list-style-type: none;
    width: 140%;
    padding: 10px;
}

.listDetails li span {
    font-size: 19px;
    font-weight: 600;
}

.info {
    width: 500px;
}

#backButton {
    display: block;
    margin: 10% 30%;
    background-color: #000000;
    color: #ffffff;
    font-size: 1rem;
    font-family: 'Rammetto One', cursive;
    border: 1px solid #000000;
    padding: 10px 25px;
    cursor: pointer;
    outline: none;
}

#backButton:hover {
    -webkit-box-shadow: 0 0 13px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 13px 0 rgba(0,0,0,0.75);
    box-shadow: 0 0 13px 0 rgba(0,0,0,0.75);
    transition: ease .7s;
    cursor: pointer;
}